<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="~/css/Views/VendorManagement/Dashboard.css" />


<div id="navigation-links-select" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 10px;"></div>
    <form id="navigation-form">
        <select id="navigation-select" onchange="this.form.action=this.value; this.form.submit();">
            <option selected value="/VendorManagement/Dashboard">DASHBOARD</option>
            <option value="/VendorManagement/Vendors">VENDORS</option>
            <option value="/Assessments/Index">ASSESSMENTS</option>
        </select>
    </form>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 10px;"></div>
<div id="navigation-links" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="active" asp-controller="VendorManagement" asp-action="DASHBOARD">DASHBOARD</a>
    <div class="underline"></div>
    <a asp-controller="VendorManagement" asp-action="Vendors">VENDORS</a>
    <div class="underline"></div>
    <a asp-controller="Assessments" asp-action="Index">ASSESSMENTS</a>
    <div class="underline"></div>
</div>
<div id="line"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
<div>
    <div class="row" style="background-color: white; margin: auto;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 20px auto auto auto;">          
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span style="color: #4F9AD2; font-size: 20px;">Data Exposure</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
            <div id="data-category" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/contact-info.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationContactInformation.Count</div>
                            <div>Contact Information</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(0);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/general-info.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationGeneralInformation.Count</div>
                            <div>General Information</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(1);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/finacial-data.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationFinancialData.Count</div>
                            <div>Financial Data</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(2);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/id-numbers.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationIdentificationNumbers.Count</div>
                            <div>ID Numbers</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(3);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/web-browsing.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationWebBrowsingData.Count</div>
                            <div>Web Browsing</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(4);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/human-resources.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationHumanResources.Count</div>
                            <div>Human Resources</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(5);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/medical-insurance.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationMedicalHealth.Count</div>
                            <div>Medical/Insurance</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(6);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/biometric.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationBiometricGenetic.Count</div>
                            <div>Biometric/Genetic</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(7);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/special.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationSpecialCategories.Count</div>
                            <div>Special Category</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(8);">View Vendors</button>
                </div>
                <div class="box">
                    <div class="box-body">
                        <img src="~/images/VendorIcons/other.png" width="50" height="50">
                        <div class="box-text">
                            <div class="vendor-number">@ViewBag.NotificationOther.Count</div>
                            <div>Other</div>
                        </div>
                    </div>
                    <button class="view-button" onclick="showVendorModalFor(9);">View Vendors</button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 20px;"></div>
        </div>
    </div>
    <div class="row" style="background-color: white; margin: auto;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 20px auto auto auto;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span style="color: #4F9AD2; font-size: 20px;">Vendor Management</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
            <div id="data-graph" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="graph-box">
                    <div class="graph-header">
                        <span class="graph-title">Audit Cycle</span>
                        <select id="auditYear">
                            <option value="1">2024</option>
                            <option value="2">2025</option>
                        </select>
                    </div>
                    <div class="graph-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
                        <p>Audit your vendors on an annual basis.</p>
                        <div id="barchart" class="chartArea"><div style="position: relative;"><div style="position: relative; width: 500px; height: 250px;" dir="ltr"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="500" height="250" style="overflow: hidden;" aria-label="A chart."><defs id="_ABSTRACT_RENDERER_ID_0"><clipPath id="_ABSTRACT_RENDERER_ID_1"><rect x="84" y="19" width="333" height="213"></rect></clipPath></defs><rect x="0" y="0" width="500" height="250" stroke="none" stroke-width="0" fill="#ffffff"></rect><g><rect x="84" y="19" width="333" height="213" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g clip-path="#"><g><rect x="84" y="231" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="160" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="90" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="19" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="196" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect><rect x="84" y="125" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect><rect x="84" y="54" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect></g><g><rect x="100" y="77" width="52" height="154" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="183" y="175" width="52" height="56" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="266" y="77" width="52" height="154" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="349" y="20" width="52" height="211" stroke="none" stroke-width="0" fill="#3366cc"></rect></g><g><rect x="84" y="231" width="333" height="1" stroke="none" stroke-width="0" fill="#333333"></rect></g></g><g></g><g><g><text text-anchor="middle" x="126" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Q1</text></g><g><text text-anchor="middle" x="209" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Q2</text></g><g><text text-anchor="middle" x="292" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Q3</text></g><g><text text-anchor="middle" x="375" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Q4</text></g><g><text text-anchor="end" x="73" y="235.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">0</text></g><g><text text-anchor="end" x="73" y="164.6833" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">5</text></g><g><text text-anchor="end" x="73" y="94.0167" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">10</text></g><g><text text-anchor="end" x="73" y="23.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">15</text></g></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Quarter</th><th>Value</th></tr></thead><tbody><tr><td>Q1</td><td>11</td></tr><tr><td>Q2</td><td>4</td></tr><tr><td>Q3</td><td>11</td></tr><tr><td>Q4</td><td>15</td></tr></tbody></table></div></div></div><div style="display: none; position: absolute; top: 260px; left: 510px; white-space: nowrap; font-family: Arial; font-size: 11px;" aria-hidden="true">...</div><div></div></div></div>
                    </div>
                </div>
                <div class="graph-box">
                    <div class="graph-header" style="padding-bottom: 8px;">
                        <span class="graph-title">Vendor Criticality</span>
                    </div>
                    <div class="graph-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 52px;"></div>
                        <div id="barchart2" class="chartArea"><div style="position: relative;"><div style="position: relative; width: 500px; height: 250px;" dir="ltr"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="500" height="250" style="overflow: hidden;" aria-label="A chart."><defs id="_ABSTRACT_RENDERER_ID_2"><clipPath id="_ABSTRACT_RENDERER_ID_3"><rect x="84" y="19" width="333" height="213"></rect></clipPath></defs><rect x="0" y="0" width="500" height="250" stroke="none" stroke-width="0" fill="#ffffff"></rect><g><rect x="84" y="19" width="333" height="213" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g clip-path="#"><g><rect x="84" y="231" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="178" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="125" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="72" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="19" width="333" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="84" y="205" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect><rect x="84" y="152" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect><rect x="84" y="99" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect><rect x="84" y="46" width="333" height="1" stroke="none" stroke-width="0" fill="#ebebeb"></rect></g><g><rect x="106" y="179" width="68" height="52" stroke="#eb4f4f" stroke-width="1" fill="#eb4f4f"></rect><rect x="216" y="62" width="69" height="169" stroke="#f7963f" stroke-width="1" fill="#f7963f"></rect><rect x="327" y="179" width="68" height="52" stroke="#fdcd53" stroke-width="1" fill="#fdcd53"></rect></g><g><rect x="84" y="231" width="333" height="1" stroke="none" stroke-width="0" fill="#333333"></rect></g></g><g></g><g><g><text text-anchor="middle" x="139.83333333333334" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">High</text></g><g><text text-anchor="middle" x="250.5" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Medium</text></g><g><text text-anchor="middle" x="361.1666666666667" y="244.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#222222">Low</text></g><g><text text-anchor="end" x="73" y="235.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">0</text></g><g><text text-anchor="end" x="73" y="182.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">10</text></g><g><text text-anchor="end" x="73" y="129.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">20</text></g><g><text text-anchor="end" x="73" y="76.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">30</text></g><g><text text-anchor="end" x="73" y="23.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#444444">40</text></g></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Critical</th><th>Value</th></tr></thead><tbody><tr><td>High</td><td>10</td></tr><tr><td>Medium</td><td>32</td></tr><tr><td>Low</td><td>10</td></tr></tbody></table></div></div></div><div style="display: none; position: absolute; top: 260px; left: 510px; white-space: nowrap; font-family: Arial; font-size: 11px;" aria-hidden="true">40</div><div></div></div></div>
                    </div>
                </div>
                <div class="graph-box">
                    <div class="graph-header">
                        <span class="graph-title">Notifications</span>
                        <select id="notification">
                            <option value="1">Assessments</option>
                            <option value="2">Audits</option>
                            <option value="3">Contract Review</option>
                        </select>
                    </div>
                    <div class="graph-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
                        <div id="assessmentsData">
                            <p style="font-weight: bold;">ASSESSMENTS NEEDED</p>
                            <div class="notifsection">
                                <p><a class="notf-link" href="">10/10/2020 &nbsp;&nbsp;Vendor Test 2</a></p>
                            </div>
                        </div>
                        <div id="auditsData" style="display: none;">
                            <p style="font-weight: bold;">AUDITS NEEDED</p>
                            <div class="notifsection">
                            </div>
                        </div>
                        <div id="contractReviewData" style="display: none;">
                            <p style="font-weight: bold;">CONTRACT REVIEWS NEEDED</p>
                            <div class="notifsection">                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: Modal -->
<div class="modal modal-primary fade" id="ModalCategoryVendorListing" role="dialog">
    <div class="modal-dialog" style="border: 5px solid #E6E6E6; ">
        <div class="modal-content" style="border-radius: 0px; border: none;">
            <div class="modal-header" style="border-radius: 0px; background-color: #005B94; color: white; padding: .5rem; text-align: center;">
                <div class="modal-title" id="ModalCategoryVendorListingTitle" style="font-size: 16px; font-weight:700; text-align: center; margin: auto auto;">
                    <div id="CategoryTitleImage">

                    </div>
                    <span class="close" title="Dismiss" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 32px; right: 35px; padding: 0 !important; max-height: 16px !important; line-height: 16px; font-weight: 500; text-shadow: none; opacity: 1.0; color: white; background-color: transparent;">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="" id="ModalCategoryVendorListingBodyHeader" style="min-height: 40px; max-height: 400px; overflow-y: auto; overflow-x: hidden;">

                </div>
                <div class="" id="ModalCategoryVendorListingBody" style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">

                </div>
            </div>
            <div class="modal-footer text-center" style="border: none; padding-top: 0;">
                <div id="ResendAuditEmailToVendorButton" class="text-center yellowbuttons" style="display: none; margin-right: 15px;">
                    <a class="submit">Resend</a>
                </div>
                <div id="ResendAssessmenttEmailToVendorButton" class="text-center yellowbuttons" style="display: none; margin-left: 15px; margin-right: 15px;">
                    <a class="submit">Resend</a>
                </div>
                <div class="text-center yellowbuttons" data-dismiss="modal" style="margin: auto;">
                    <a class="submit">Close</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end: Modal -->

@section Scripts {
    <script>
        function showVendorModalFor(value) {
            var result = null;
            var imgurlstring = "";
            var catagory = "";
            if (value == "0") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationContactInformation));
                catagory = "Contact Information";
                imgurlstring = "<img src='/images/VendorIcons/contact-info.png' width='40' height='40'> <span>Contact Information</span>";
            }
            if (value == "1") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationGeneralInformation));
                catagory = "General Information";
                imgurlstring = "<img src='/images/VendorIcons/general-info.png' width='40' height='40'> <span>General Information</span>";
            }
            if (value == "2") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationFinancialData));
                catagory = "Financial Data";
                imgurlstring = "<img src='/images/VendorIcons/finacial-data.png' width='40' height='40'> <span>Financial Data</span>";
            }
            if (value == "3") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationIdentificationNumbers));
                catagory = "ID Numbers";
                imgurlstring = "<img src='/images/VendorIcons/id-numbers.png' width='40' height='40'> <span>ID Numbers</span>";
            }
            if (value == "4") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationWebBrowsingData));
                catagory = "Web Browsing";
                imgurlstring = "<img src='/images/VendorIcons/web-browsing.png' width='40' height='40'> <span>Web Browsing</span>";
            }
            if (value == "5") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationHumanResources));
                catagory = "Human Resources";
                imgurlstring = "<img src='/images/VendorIcons/human-resources.png' width='40' height='40'> <span>Human Resources</span>";
            }
            if (value == "6") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationMedicalHealth));
                catagory = "Medical/Insurance";
                imgurlstring = "<img src='/images/VendorIcons/medical-insurance.png' width='40' height='40'> <span>Medical/Insurance</span>";
            }
            if (value == "7") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationBiometricGenetic));
                catagory = "Biometric/Genetic";
                imgurlstring = "<img src='/images/VendorIcons/biometric.png' width='40' height='40'> <span>Biometric/Genetic</span>";
            }
            if (value == "8") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationSpecialCategories));
                catagory = "Special Category";
                imgurlstring = "<img src='/images/VendorIcons/special.png' width='40' height='40'> <span>Special Category</span>";
            }
            if (value == "9") {
                result = @Html.Raw(Json.Serialize(ViewBag.NotificationOther));
                catagory = "Other";
                imgurlstring = "<img src='/images/VendorIcons/other.png' width='40' height='40'> <span>Other</span>";
            }
            var trow = "";
            var row = "";            
            if (result.length > 0) {
                var headertext = "'" + catagory + "' data is shared with the following vendors:";
                trow += "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='min-height: 40px; width: 100%;'>";
                trow += headertext + "</div > ";
                $.each(result, function (index, item) {
                    row += "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='margin-top: 10px; min-height: 25px; max-height: 25px; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>";
                    row += result[index].VendorName + "<a style='cursor: pointer; float: right; text-decoration: underline; text-decoration-color: #005B94; color: #005B94;' href='" + result[index].VendorEditURL + "'>VIEW</a></div > ";
                });
                row += "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='margin-top: 40px; min-height: 5px; max-height: 5px; min-width: 100%; max-width: 100%;'></div>";
            }
            else {
                var headertext = catagory + " data is shared with the following vendors:";
                trow += "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='min-height: 40px; width: 100%;'>";
                trow += headertext + "</div > ";
                row += "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='margin-top: 10px; min-height: 50px; max-height: 50px; min-width: 100%; max-width: 100%;'>No Vendors Listed</div > ";
            }

            $("#CategoryTitleImage").html(imgurlstring);
            $("#ModalCategoryVendorListingBodyHeader").html(trow);
            $("#ModalCategoryVendorListingBody").html(row);
            $("#ModalCategoryVendorListing").modal('show');
        }
    </script>
}
