@model VendorManagement.Models.ViewModels.AddVendorViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/Views/VendorManagement/Vendors.css" />

<div id="navigation-links-select" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 10px;"></div>
    <form id="navigation-form">
        <select id="navigation-select" onchange="this.form.action=this.value; this.form.submit();">
            <option value="/VendorManagement/Dashboard">DASHBOARD</option>
            <option selected value="/VendorManagement/Vendors">VENDORS</option>
            <option value="/Assessments/Index">ASSESSMENTS</option>
        </select>
    </form>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 10px;"></div>
<div id="navigation-links" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a asp-controller="VendorManagement" asp-action="Dashboard">DASHBOARD</a>
    <div class="underline"></div>
    <a class="active" asp-controller="VendorManagement" asp-action="Vendors">VENDORS</a>
    <div class="underline"></div>
    <a asp-controller="Assessments" asp-action="Index">ASSESSMENTS</a>
    <div class="underline"></div>
</div>
<div id="line"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 10px;"></div>
<section class="section px-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left">
        <span style="color: #4F9AD2; font-size: 20px;">Vendor Management</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 20px;"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-right">
        <div class="text-center yellowbuttons" data-bs-toggle="modal" data-bs-target="#addVendorModal">
            <a style="color: grey;">Add Vendor</a>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" style="height: 20px;"></div>
    <div class="row">
        <div class="candidate-list">
            @if (Model.Vendors != null && Model.Vendors.Any())
            {
                <table id="vendorsTable" class="display">
                    <thead style="display: none;">
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vendor in Model.Vendors)
                        {
                            <tr>
                                <td>
                                    <div class="candidate-list-box card">
                                        <a class="row-link" asp-controller="VendorManagement" asp-action="VendorDetails" asp-route-vendorId="@vendor.VendorId">
                                            <div class="p-4 card-body">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="candidate-list-content mt-3 mt-lg-0">
                                                            <h5 class="fs-19 mb-0">
                                                                <span>@vendor.VendorName</span>
                                                                @if (vendor.CriticalityLevelId == 1)
                                                                {
                                                                    <span class="badge ms-1" style="background: #fdcd53;">@vendor.CriticalityLevel.Level</span>
                                                                }
                                                                else if (vendor.CriticalityLevelId == 2)
                                                                {
                                                                    <span class="badge ms-1" style="background: #f7963f;">@vendor.CriticalityLevel.Level</span>
                                                                }
                                                                else if (vendor.CriticalityLevelId == 3)
                                                                {
                                                                    <span class="badge ms-1" style="background: #eb4f4f;">@vendor.CriticalityLevel.Level</span>
                                                                }
                                                            </h5>
                                                            <p class="text-muted mb-2">@vendor.VendorType.Type</p>
                                                            <ul class="list-inline mb-0 text-muted">
                                                                <li class="list-inline-item"><i class="mdi mdi-email"></i>@vendor.DepartmentalOwnerEmail</li>
                                                            </ul>
                                                            <ul class="list-inline mb-0 text-muted">
                                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i>Contract Cycle: @vendor.ContractCycle.ContractCycleType</li>
                                                                <li class="list-inline-item"><i class="mdi mdi-wallet"></i>Audit Cycle: @vendor.AuditCycle.AuditCycleType</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h5 class="fs-19 mb-0">Shared Data</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            @foreach (var VendorSharedData in vendor.VendorSharedData)
                                                            {
                                                                <span class="badge bg-soft-secondary fs-14 mt-1">@VendorSharedData.SharedData</span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <h5 class="fs-19 mb-0">Contract Date</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            <span class="badge bg-soft-secondary fs-14 mt-1" href="#">@vendor.ContractDate.ToShortDateString()</span>                                                            
                                                        </div>
                                                        <h5 class="fs-19 mb-0">Contract Status</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            @if (vendor.ContractCategoryStatus == 0)
                                                            {
                                                                <span class="badge bg-danger fs-14 mt-1" href="#">@vendor.ContractStatus</span>
                                                            }
                                                            else if (vendor.ContractCategoryStatus == 30)
                                                            {
                                                                <span class="badge bg-warning fs-14 mt-1" href="#">@vendor.ContractStatus</span>

                                                            }
                                                            else if (vendor.ContractCategoryStatus == 60)
                                                            {
                                                                <span class="badge bg-info fs-14 mt-1" href="#">@vendor.ContractStatus</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge bg-primary fs-14 mt-1" href="#">@vendor.ContractStatus</span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <h5 class="fs-19 mb-0">Audit Date</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            <span class="badge bg-soft-secondary fs-14 mt-1" href="#">@vendor.AuditDate.ToShortDateString()</span>
                                                        </div>
                                                        <h5 class="fs-19 mb-0">Audit Status</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            @if (vendor.AuditCategoryStatus == 0)
                                                            {
                                                                <span class="badge bg-danger fs-14 mt-1" href="#">@vendor.AuditStatus</span>
                                                            }
                                                            else if (vendor.AuditCategoryStatus == 30)
                                                            {
                                                                <span class="badge bg-warning fs-14 mt-1" href="#">@vendor.AuditStatus</span>

                                                            }
                                                            else if (vendor.AuditCategoryStatus == 60)
                                                            {
                                                                <span class="badge bg-info fs-14 mt-1" href="#">@vendor.AuditStatus</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge bg-primary fs-14 mt-1" href="#">@vendor.AuditStatus</span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <h5 class="fs-19 mb-0">Assigned Assessment</h5>
                                                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                                            <span class="badge bg-soft-secondary fs-14 mt-1" href="#">@vendor.AssignedAssessments.Count</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Vendors Found!</p>
            }
        </div>
    </div>
</section>
   
<!-- addVendorModal -->
<div class="modal fade" id="addVendorModal" tabindex="-1" aria-labelledby="addVendorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addVendorModalLabel">Add New Vendor</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group mb-3">
                        <label asp-for="VendorName" class="form-label">Vendor Name</label>
                        <input asp-for="VendorName" class="form-control" />
                        <span asp-validation-for="VendorName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="VendorContactEmail" class="form-label">Vendor Contact Email</label>
                        <input asp-for="VendorContactEmail" class="form-control" />
                        <span asp-validation-for="VendorContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="DepartmentalOwnerEmail" class="form-label">Departmental Owner Email</label>
                        <input asp-for="DepartmentalOwnerEmail" class="form-control" />
                        <span asp-validation-for="DepartmentalOwnerEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ContractDate" class="form-label">Contract Date</label>
                        <input asp-for="ContractDate" class="form-control" />
                        <span asp-validation-for="ContractDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="AuditDate" class="form-label">Audit Date</label>
                        <input asp-for="AuditDate" class="form-control" />
                        <span asp-validation-for="AuditDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div>
                            <span asp-validation-for="SelectedContractCycleId" class="text-danger"></span>
                        </div>
                        <label asp-for="SelectedContractCycleId" class="form-label">Contract Cycle</label>
                        <select asp-for="SelectedContractCycleId" asp-items="@(new SelectList(Model.ContractCycles ?? new List<VendorManagement.Models.Entities.ContractCycle>(), "ContractCycleId", "ContractCycleType"))" class="form-control"></select>
                    </div>
                    <div class="form-group mb-3">
                        <div>
                            <span asp-validation-for="SelectedAuditCycleId" class="text-danger"></span>
                        </div>
                        <label asp-for="SelectedAuditCycleId" class="form-label">Audit Cycle</label>
                        <select asp-for="SelectedAuditCycleId" asp-items="@(new SelectList(Model.AuditCycles ?? new List<VendorManagement.Models.Entities.AuditCycle>(), "AuditCycleId", "AuditCycleType"))" class="form-control"></select>
                    </div>
                    <div class="form-group mb-3">
                        <div>
                            <span asp-validation-for="SelectedCriticalityLevelId" class="text-danger"></span>
                        </div>
                        <label asp-for="SelectedCriticalityLevelId" class="form-label">Criticality Level</label>
                        <select asp-for="SelectedCriticalityLevelId" asp-items="@(new SelectList(Model.CriticalityLevels ?? new List<VendorManagement.Models.Entities.CriticalityLevel>(), "CriticalityLevelId", "Level"))" class="form-control"></select>
                    </div>
                    <div class="form-group mb-3">
                        <div>
                            <span asp-validation-for="SelectedVendorTypeId" class="text-danger"></span>
                        </div>
                        <label asp-for="SelectedVendorTypeId" class="form-label">Vendor Type</label>
                        <select asp-for="SelectedVendorTypeId" asp-items="@(new SelectList(Model.VendorTypes ?? new List<VendorManagement.Models.Entities.VendorType>(), "VendorTypeId", "Type"))" class="form-control"></select>
                    </div>
                    <div class="form-group mb-3">
                        <div>
                            <span asp-validation-for="SelectedVendorSharedDataIds" class="text-danger"></span>
                        </div>
                        <label asp-for="SelectedVendorSharedDataIds" class="form-label">Vendor Shared Data</label>
                        <select asp-for="SelectedVendorSharedDataIds" asp-items="@(new SelectList(Model.VendorSharedData ?? new List<VendorManagement.Models.Entities.VendorSharedData>(), "VendorSharedDataId", "SharedData"))" class="form-control" multiple="multiple"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Add Vendor" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            let vendorsTable = new DataTable('#vendorsTable');                            
        });

    </script>
}
